<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mark Attendance</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'students/style.css' %}">
</head>
<body>
    <h2>Mark Attendance</h2>
    <form method="POST">
        {% csrf_token %}
        {% for student in students %}
            <p>
                {{ student.name }} ({{ student.roll_no }})
                <select name="status_{{ student.id }}">
                    <option value="Present">Present</option>
                    <option value="Absent">Absent</option>
                </select>
            </p>
        {% endfor %}
        <button type="submit">Submit Attendance</button>
    </form>
    <br>
    <a href="{% url 'home' %}">← Back to Home</a>
</body>
</html>
